*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p{margin: 0;}

ul{padding: 0; margin: 0;}

li{list-style: none;}

a{text-decoration: none;}


/* =====sidebar css start here===== */
.sidebar{
    padding: 35px 32px;
    border: 1px solid #EBEBEB;
    /* float: left; */
    /* margin-right: 26px; */
}

.sidebar__logo{
    margin-bottom: 60px;
}

.sidebar ul{
    position: relative;
    /* height: 80vh;   */
}

.sidebar__items{
    height: 90%;
}

.sidebar__items ul li {
    font-size: 18px;
    margin-bottom: 25px;
}

.sidebar__items ul li img{
    margin-right: 15px;
}

.sidebar ul li:last-child{
    position: absolute;
    bottom: 30px;
}
/* =====sidebar css start here===== */

/* === */
.nav__head {
    padding: 30px 29px;
    padding-bottom: 0;
}

.nav__head h2 {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.nav__head h2 img {
    margin-right: 11px;
}

.nav__head h2 span {
    margin-left: 11px;
    height: 25px;
    width: 26px;
    font-size: 12px;
    line-height: 25px;
    border: 1px solid #E6EAED;
    text-align: center;
    background: #FAFAFA;
    border-radius: 5px;
    color: #101136;
}

.nav__head .head__right{
    display: inherit;
}

.nav__head .head__right button {
    padding: 10px 18px;
    color: #101136;
    border: 1px solid #101136;
    border-radius: 8px;
    outline: none;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.nav__head .head__right button img{
    margin-right: 10px;
}

.nav__head .head__right button:first-child{
    margin-right: 15px;
    color: #DB0F19;
    border: 1px solid #DB0F19;
}

.nav__right .nav__select select {
    padding: 15px;
    margin-right: 20px;
    color: #575A7B;
    font-size: 14px;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    font-weight: 500;
    outline: none;
}
/* === */

/* =====pipeline__nav css start here===== */
.pipeline__nav{
    padding: 30px 30px 25px;
    border-bottom: 1px solid #E6EAED;
}

.nav__left h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin-right: 20px;
}

.nav__left h3 img{
    margin-right: 10px;
}

.nav__left form{
    border: 1px solid #EBEBEB;
    padding: 15px;
    border-radius: 10px;
}

.nav__left form label{
    margin-right: 10px;
}

.nav__left form input{
    border: none;
    outline: none;
}

.nav__right button{
    margin-right: 20px;
} 

button.nav__btn {
    font-size: 14px;
    color: #DB0F19;
    background: transparent;
    padding: 15px 20px;
    border: 1px solid #DB0F19;
    border-radius: 10px;
}

.nav__modal__content{
    border-radius: 25px;
    overflow: hidden;
}

.modal__form select{
    outline: none;
    border: 1px solid #E6EAED;
}

.modal-footer h3 {
    font-size: 26px;
    font-weight: 600;
}

form.modal__form label {
    font-size: 12px;
}

.modal__form label{
    color: gray;
}

form.modal__form select {
    padding: 8px 14px;
    border-radius: 8px;
    height: 54px;
    margin-bottom: 20px;
}

form.modal__form select:last-child{
    margin-bottom: 30px;
}

.modal__ant{
    padding: 15px 25px 25px;
}

.modal__form button, .modal__ant button.fnlBtn{
    outline: none;
    border: 1px solid #DB0F19;
    background: transparent;
    color: #DB0F19;
    padding: 15px;
    border-radius: 8px;
    font-size: 14px;
}

.edit__modal button{
    background: rgba(219, 15, 25, 0.1);
    outline: none;
    color: #DB0F19;
    border: none;
}

.modalAdd__btn{
    padding: 10px 23px;
    background: transparent;
    color: #DB0F19;
    border: 1px solid #DB0F19;
    border-radius: 40px;
}

.edit__modal{
    margin-bottom: 20px;
}

.edit__modal div {padding: 15px;}

.edit__modal button {
    font-weight: 600;
    padding: 15px 31px;
    margin-left: 20px;
    border-radius: 8px;
}

.modalAdd__btn{
    margin-bottom: 20px;
}

.modalAdd__btn img{
    margin-right: 10px;
}


/* =====pipeline nav css end here===== */

/* =====pipeline body css start here===== */
.pipeline__body{
    margin: 30px 25px;
    border: 1px solid #EBEBEB;
    border-radius: 15px;
    overflow: hidden;
}

.pBody__inner .bodyPart{
    width: 100%;
    max-width: 25%;
    height:864px;
}

.bodyPart2{
    border-left: 1px solid #E6EAED;
    border-right: 1px solid #E6EAED;
}

.bodyPart3{
    border-right: 1px solid #E6EAED;
}

.bodyPart .part__top{
    background: #FAFAFA;
    padding: 13px 15px;
}

.bodyPart .part__top input {
    margin-right: 10px;
}

.bodyPart .part__top span{
    font-size: 12px;
    padding: 0px 3px;
    background: rgba(33, 208, 61, 0.1);
    color: #21D03D;
    border-radius: 5px;
}

.pBody__inner .bodyPart form{
    font-size: 16px;
    color: #575A7B;
}

.pBody__inner .bodyPart .part__inn{
    padding: 12px 16px;
}

.inn__box .inn__info ul li{
    font-size: 12px;
    margin-bottom: 16px;
}

.pBody__inner .bodyPart .part__inn .inn__box{
    border: 1px solid #E6EAED;
    border-radius: 10px;
    box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.03);
    padding-bottom: 15px;
}

.inn__box form input {
    margin-right: 12px;
}

.pBody__inner .bodyPart form label{
    user-select: none;
    cursor: pointer;
    font-size: 14px;
}

.pBody__inner .bodyPart .inn__box form{
    padding: 17px;
}

.pBody__inner .bodyPart .inn__box form label{    
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
/* =====pipeline body css end here===== */


/* check box  css */
.demo2{
    margin-right: 12px;
    /* margin-bottom: -5px; */
}

.demo2 .regular-checkbox {
    background-color: #DB0F19;
  }
  
  .demo2 label {
      display: inline;
      border-bottom: 6px;
  }
   
  .demo2 .regular-checkbox {
      display: none;
  }
   
  .demo2 .regular-checkbox + label {
      background-color: #DB0F19;
      border-radius: 6px;
      padding: 9px;
      border-radius: 3px;
      display: inline-block;
      position: relative;
  }
   
  .demo2 .regular-checkbox + label:active, .regular-checkbox:checked + label:active {
  /*     box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1); */
  }
   
  .demo2 .regular-checkbox:checked + label {
      background-color: #DB0F19;
  /*  border: 1px solid #adb8c0; */
      color: #000;
      border-radius: 6px;
  }
   
  .demo2 .regular-checkbox:checked + label:after {
      content: '\2714';
      font-size: 5px;
      position: absolute;
      top: 0px;
      left: 3px;
      color: #fff;
  }
   
   
  .demo2 .big-checkbox + label {
      /* padding: 18px; */
      padding: 10px;
  }
   
  .demo2 .big-checkbox:checked + label:after {
      font-size: 14px;
      left: 5px;
  }
  
  
/* check box  css */



/* ======================================= */
/* copied codepen */
/* :root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
  }

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width:100%;
    width: 350px;
  }
  
  .progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); 
    height: 4px;
    width: 100%;
    z-index:-1;
  }
  
  
  .progress {
    background-color: #DB0F19;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index:-1;
    transition: .4s ease;
  }
  
  .circle {
    background-color: #fff;
    color: #101136;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #DB0F19;
    transition: .4s ease;
  }
  
  .circle.active {
    background: #DB0F19;
    color: #fff;
  }
  
  .progress__btn {
    outline: none;
    border: 1px solid #DB0F19;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    color: #DB0F19;
    padding: 14px;
    background: transparent;
    font-weight: 600;
  }
  
  .progress__btn:active {
    transform: scale(.98);
  }
  
  .progress__btn:focus {
    outline: none;
  }
  
  .progress__btn:disabled {
    cursor: not-allowed;
  } */




.form1{
	width: 493px;
    padding: 15px 15px 20px;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
}

.form1 .form__head{
    font-size: 14px;
    color: #575A7B;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #EBEBEB;
}

  #msform {
	/* margin: 50px auto; */
	text-align: center;
	position: relative;
}
#msform fieldset {
	/* background: white; */
	/* border: 0 none; */
	/* border-radius: 3px; */
	/* box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); */
	/* padding: 20px 30px; */
	/* box-sizing: border-box; */
	/* width: 80%; */
	/* margin: 0 10%; */
	/*stacking fieldsets above each other*/
	position: relative;
}

fieldset label{
    display: block;
    text-align: start;
    font-size: 12px;
    color: #575A7B;
    margin-bottom: 4px;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea, #msform select {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 13px;

    outline: none;
    border-radius: 8px;
    margin-bottom: 25px;
    font-size: 16px;
}
/*buttons*/
#msform .action-button {
	width: 100%;
	background: transparent;
    
	color: #DB0F19;
    border: 1px solid #DB0F19;
	border-radius: 8px;
	cursor: pointer;
	padding: 14px;
}
/* #msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
} */
/*headings*/
/* .fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
} */
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;

    display: flex;
}
#progressbar li {
	list-style-type: none;
	color: #101136;
    font-size: 14px;
	width: 33.33%;
	/* float: left; */
	position: relative;
    font-weight: 600;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 32px;
	line-height: 28px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
    border: 2px solid #DB0F19;
    border-radius: 50%;
    font-size: 12px;
    
}

/* #progressbar li:nth-child(2)::before{
    margin: auto;
}

#progressbar li:nth-child(3)::before{
    margin-left: auto;
} */

/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 4px;
	background: #E6EAED;
	position: absolute;
	left: -50%;
	top: 13px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	/* background: #27AE60; */
	background: #DB0F19;
	color: white;
    border-radius: 50%;
}

/* === */
.field__price {
    border: 1px solid #ebebeb;
    border-radius: 8px;
    margin-bottom: 25px;
    overflow: hidden;
}

.field__price span {
    font-size: 16px;
    padding: 15px;
    font-weight: 500;
}

.field__price span:first-child {
    background: #FAFAFA;
}

.field__profile .profile__info{
    text-align: start;
    margin-left: 15px;
}

/* === */